<html lang="pl-PL"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="shortcut icon" href="/img/favicon_tnf.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="Author" content="Kamil Brzozowski">
    <title>Livechat - App</title><style>
</style>

</head>
<body>
<div class="app-ovl">
<div class="app-sidebar">
<div class="sidebar-top">
    <div class="sidebar-logo"><img src="/img/logo_twf.png" alt="logo"></div>
    <div class="sidebar-menu">
        <div class="sidebar-option active"><div class="sidebar-option-ico"><i class="bx bxs-chat"></i></div><div class="sidebar-option-text">Chaty</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico"><i class="bx bxs-archive"></i></div><div class="sidebar-option-text">Zapisane rozmowy</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico" ><i class="bx bxs-data" ></i></div><div class="sidebar-option-text">Twoje zasoby</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico" ><i class="bx bxs-key"></i></div><div class="sidebar-option-text">Zarządzaj kluczami</div></div>
    </div>
</div>

<div class="sidebar-bottom">
    <div class="sidebar-menu">
        <div class="sidebar-option"><div class="sidebar-option-ico"><i class="bx bxs-cog"></i></div><div class="sidebar-option-text">Ustawienia</div></div>
    </div>
    <div class="sidebar-user-bar">

<div class="prof-avatar-xsm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
        <div class="sidebar-user-name">..</div>
        <div class="sidebar-user-logout"><i class='bx bxs-log-out'></i></div>
    </div>
</div>
</div>
<div class="app-contents">






<div class="chat-threads">

<div class="chat-threads-header">
    <div class="threads-header-text">Chaty</div>
    <div class="threads-header-options">
        <div class="threads-header-option"><i class="bx bxs-plus-square"></i></div>
    </div>
</div>
    

<div class="chat-threads-search">
<div class="search-input"><input id="search_txt" placeholder="Szukaj wiadomości" type="text" name="threads-search"></div><div class="search-ico"><i class='bx bxs-search'></i></div>
</div>

<div class="chat-threads-list">
    <div data-option="1" class="list-mode-ovl">
        <div data-option="0" class="list-mode-btn">Prywatne</div>
        <div data-option="1" class="list-mode-btn active">Publiczne</div>
    </div>
    <div class="threads-list">



<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="/img/defaults/avatar.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">...</div>
    <div class="thread-bar-details"><div class="bar-details-content">..</div><div class="bar-details-date">..</div></div>
</div>
</div>

<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="/img/defaults/avatar.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">...</div>
    <div class="thread-bar-details"><div class="bar-details-content">..</div><div class="bar-details-date">..</div></div>
</div>
</div>

<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="/img/defaults/avatar.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">...</div>
    <div class="thread-bar-details"><div class="bar-details-content">..</div><div class="bar-details-date">..</div></div>
</div>
</div>

    </div>
</div>
</div>

<div class="chat-active-thread">
    <div class="active-thread-form">
        <div class="active-thread-top">
            <div class="active-thread-identity">
                <div class="prof-avatar-md">
    <div class="avatar-contents"><img src="/img/defaults/avatar.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
                <div class="active-thread-bar-info">
                    <div class="active-thread-bar-title" >...</div>
                    <div class="active-thread-bar-details">
                        <div class="active-thread-bar-details-date">..</div>
                    </div>
                </div>
            </div>
            <div class="active-thread-options">
                <div class="active-thread-option"><i class='bx bxs-search'></i></div>
                <div class="active-thread-option"><i class="bx bxs-user"></i></div>
            </div>
        </div><div class="thread-messages-box">


<div class='mess-hr'> <div class='h-line'></div> <div class='h-info'>Nie udało się pobrać danych dla kanału<i class='bx bxs-error' ></i></div> <div class='h-line'></div> </div>
                  


 </div>
 <div class="thread-message-form">
                <div class="message-form-options">
                    <div class="message-form-option"><i class="bx bxs-plus-circle"></i></div>
                </div>
                <div class="message-form-input"><div id="mess-input" contenteditable="true" data-text="Napisz wiadomość .."  aria-autocomplete="off"></div></div>
                <div class="message-form-submit" id="mess-send-btn"><i class="bx bxs-send"></i></div>
</div>
</div>


<div class="active-thread-profile">
<div class="atp-mobile" style="display:none;">
<div class="close-btn">Zamknij <i class="bx bxs-chevron-left"></i></div>
</div>

        <div class="thread-profile-summary">
            <div class="profile-summary-card">
<div class="prof-avatar-lg">
    <div class="avatar-contents"><img src="/img/defaults/avatar.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="profile-summary-info" >
                <div class="profile-summary-title">...</div>
                <div class="profile-summary-details">
                    <div class="summary-details-date">Aktywny(a) teraz</div>
                </div>
            </div>
            </div>
        </div>

        <div class="thread-profile-main">

            <div class="thread-profile-section">
                <div class="profile-section-title">Personalizacja</div>
                <div class="profile-section-content">



<div data-option='chat-style' class="profile-section-tile">
<div class="profile-section-option" >
    <div class="profile-section-header">
        <div class="profile-section-ico" style="color: var(--primary-color)"><i class="bx bxs-palette"></i></div>
            <div class="profile-option-title">Styl</div>
    </div>
        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
        </div>
        <div class="profile-section-res">
            <div class='chat-styles-ovl'>
                <div data-option='1' class='chat-style-option option-selected'><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="158.000000pt" height="159.000000pt" viewBox="0 0 158.000000 159.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,159.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M690 1502 c0 -4 -34 -14 -76 -21 -187 -31 -324 -111 -418 -245 -53 -75 -79 -130 -108 -232 -31 -113 -31 -314 1 -434 61 -231 207 -383 436 -456 51 -16 90 -19 255 -19 177 0 202 2 270 24 172 53 298 160 374 315 62 127 80 222 73 396 -9 223 -56 342 -188 477 -49 50 -85 75 -154 108 -85 41 -203 75 -259 75 -15 0 -26 5 -26 10 0 6 -37 10 -90 10 -49 0 -90 -4 -90 -8z m-84 -377 c19 -15 39 -38 45 -52 14 -36 11 -100 -6 -133 -14 -26 -13 -36 7 -112 20 -76 31 -97 50 -98 4 0 35 37 69 82 60 78 62 83 60 135 -3 73 31 134 89 157 52 21 73 20 119 -3 68 -35 98 -105 80 -186 -16 -72 7 -145 61 -195 32 -30 40 -44 40 -73 0 -20 -5 -46 -11 -59 -13 -30 -69 -68 -98 -68 -63 0 -124 85 -102 143 8 20 6 41 -7 84 -26 85 -43 82 -121 -24 -60 -81 -64 -90 -62 -135 6 -138 -147 -244 -256 -177 -51 31 -69 56 -83 107 -12 50 -1 105 29 144 20 25 20 26 0 104 -27 110 -29 114 -44 114 -24 0 -73 50 -85 86 -16 46 -5 96 27 135 54 64 134 74 199 24z"/> </g> </svg></div>
                <div data-option='2' class='chat-style-option'><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="158.000000pt" height="159.000000pt" viewBox="0 0 158.000000 159.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,159.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M690 1502 c0 -4 -34 -14 -76 -21 -187 -31 -324 -111 -418 -245 -53 -75 -79 -130 -108 -232 -31 -113 -31 -314 1 -434 61 -231 207 -383 436 -456 51 -16 90 -19 255 -19 177 0 202 2 270 24 172 53 298 160 374 315 62 127 80 222 73 396 -9 223 -56 342 -188 477 -49 50 -85 75 -154 108 -85 41 -203 75 -259 75 -15 0 -26 5 -26 10 0 6 -37 10 -90 10 -49 0 -90 -4 -90 -8z m-84 -377 c19 -15 39 -38 45 -52 14 -36 11 -100 -6 -133 -14 -26 -13 -36 7 -112 20 -76 31 -97 50 -98 4 0 35 37 69 82 60 78 62 83 60 135 -3 73 31 134 89 157 52 21 73 20 119 -3 68 -35 98 -105 80 -186 -16 -72 7 -145 61 -195 32 -30 40 -44 40 -73 0 -20 -5 -46 -11 -59 -13 -30 -69 -68 -98 -68 -63 0 -124 85 -102 143 8 20 6 41 -7 84 -26 85 -43 82 -121 -24 -60 -81 -64 -90 -62 -135 6 -138 -147 -244 -256 -177 -51 31 -69 56 -83 107 -12 50 -1 105 29 144 20 25 20 26 0 104 -27 110 -29 114 -44 114 -24 0 -73 50 -85 86 -16 46 -5 96 27 135 54 64 134 74 199 24z"/> </g> </svg></div>
                <div data-option='3' class='chat-style-option'><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="158.000000pt" height="159.000000pt" viewBox="0 0 158.000000 159.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,159.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M690 1502 c0 -4 -34 -14 -76 -21 -187 -31 -324 -111 -418 -245 -53 -75 -79 -130 -108 -232 -31 -113 -31 -314 1 -434 61 -231 207 -383 436 -456 51 -16 90 -19 255 -19 177 0 202 2 270 24 172 53 298 160 374 315 62 127 80 222 73 396 -9 223 -56 342 -188 477 -49 50 -85 75 -154 108 -85 41 -203 75 -259 75 -15 0 -26 5 -26 10 0 6 -37 10 -90 10 -49 0 -90 -4 -90 -8z m-84 -377 c19 -15 39 -38 45 -52 14 -36 11 -100 -6 -133 -14 -26 -13 -36 7 -112 20 -76 31 -97 50 -98 4 0 35 37 69 82 60 78 62 83 60 135 -3 73 31 134 89 157 52 21 73 20 119 -3 68 -35 98 -105 80 -186 -16 -72 7 -145 61 -195 32 -30 40 -44 40 -73 0 -20 -5 -46 -11 -59 -13 -30 -69 -68 -98 -68 -63 0 -124 85 -102 143 8 20 6 41 -7 84 -26 85 -43 82 -121 -24 -60 -81 -64 -90 -62 -135 6 -138 -147 -244 -256 -177 -51 31 -69 56 -83 107 -12 50 -1 105 29 144 20 25 20 26 0 104 -27 110 -29 114 -44 114 -24 0 -73 50 -85 86 -16 46 -5 96 27 135 54 64 134 74 199 24z"/> </g> </svg></div>
            </div>
        </div>
</div>

<div data-option="chat-nicks" class="profile-section-tile">
<div class="profile-section-option">
    <div class="profile-section-header">
        <div class="profile-section-ico" style="color: #65bf92;"><i class="bx bx-hash"></i></div>
        <div class="profile-option-title">Nicki</div>
    </div>

    <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
    </div>
    <div class="profile-section-res">
        <div class="res-options">
            <div data-option="1" class="res-option">Zarządzaj</div>
        </div>
    </div>
</div>


</div>
</div>
<div class="thread-profile-section">
<div class="profile-section-title">Wiecej akcji</div>

                <div class="profile-section-content">
                    <div data-option="chat-manage" class="profile-section-tile" style="display:none;">
                        <div class="profile-section-option">
                            <div class="profile-section-header">
                        <div class="profile-section-ico"><i class="bx bxs-group"></i></div>
                        <div class="profile-option-title">Dodatkowe opcje</div>
                            </div>
                        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
                        </div>
                        <div class="profile-section-res">
                            <div class="res-options">
                                <div data-option="0" class="res-option"><i class='bx bxs-user-x'></i> Usuń</div>
                                <div data-option="1" class="res-option"><i class='bx bxs-cog' ></i> Zarządzaj</div>
                            </div>
                        </div>
                    </div>
                        <div data-option="chat-shared" class="profile-section-tile">
                        <div class="profile-section-option">
                        <div class="profile-section-header">
                            <div class="profile-section-ico"><i class="bx bxs-memory-card"></i></div>
                            <div class="profile-option-title">Udostepnione zasoby</div>
                        </div>

                        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
                        </div>
                        <div class="profile-section-res">
                                <div class="res-options">
                                    <div data-option="1" class="res-option">Media</div>
                                    <div data-option="2" class="res-option">Inne</div>
                                </div>
                                <div class="res-content">
                                    <div class="shared-photo"></div>
                                    <div class="shared-photo"></div>                                    
                                </div>

                        </div>
                    </div>
                </div>
</div>


        </div> 
    </div>

</div>


</div>
</div>
<div style='display:none;' class="popup-layer">



<div class="popup-window">
    <div class="popup-top">
        <div class="popup-title">Nicki</div>
        <div class="popup-options">
            <div class="close-btn1"><i class='bx bx-x'></i></div>
        </div>
    </div>
    <div class="popup-content">
POPUP_CONTENT
    </div>
</div>





</div>
<div class="loading-ovl"></div>
<script src="/js/ui.js"></script>
<script>
const jwt_token = localStorage.getItem('jwt_token') || null;
let socket = null;
let current_channel_id = null;
let current_member_id = null;
let current_chat_style = null;


const initSocket = (channelId) => {
    if (socket && socket.connected && current_channel_id === channelId) {
        console.log('Już połączono z tym kanałem');
        return;
    }

    if (socket && socket.connected) {
        socket.emit('leaveChannel', { channelId: current_channel_id });
        socket.disconnect();
        console.log('Rozłączono z poprzednim kanałem');
    }

    socket = io(window.location.hostname+':3001', { query: { token: jwt_token } });

    socket.on('connect', () => {
        console.log('Połączono z serwerem');

        socket.emit('joinChannel', {channelId}, (response) => {
        if (response.success) {
            console.log('Dołączono do kanału.');
        } else {
            console.error('Błąd:', response.message);
            return false;
        }
        });

        current_channel_id = channelId;
    });

    socket.on('newMessage', (mess) => {
        let mess_style='';
        if(current_member_id==mess.member_id) mess_style= ' rtl';

        const html_data = `
            <div data-option="${mess.message_id}" class='mess-cloud${mess_style}'>
                <div class="cloud-contents">
                    <div class="prof-avatar-sm">
                        <div class="avatar-contents">
                            <img src="${mess.avatar}" alt="${mess.username}'s avatar">
                        </div>
                        <div class="user-status-ico"></div>
                    </div>
                    <div class="mess-cloud-content">
                        <div class="mess-cloud-details">
                            <div data-option="${mess.member_id}" class="mess-cloud-nick">${mess.username}</div>
                            <div class="mess-cloud-time">${mess.created_time}</div>
                        </div>
                        <div class="mess-cloud-text">${mess.message}</div>
                    </div>
                </div>
            </div>
        `;
        $('.thread-messages-box').append(html_data);
        $('.thread-messages-box').scrollTop($('.thread-messages-box')[0].scrollHeight);

    });

    socket.on('connect_error', (error) => {
        console.error('Błąd połączenia: ', error);
    });

    socket.on('disconnect', () => {
        console.log('Rozłączono z serwerem');
    });
};


const load_popup = async(title,data) => {
if(!(typeof title === 'string')||(title=='')) return false; 
if(!(typeof data === 'string')||(data=='')) return false; 

$('.popup-title').text(title);
$('.popup-content').text(data);    
$('.popup-layer').show();   


    return true;
};






const sendMessage = () => {
    console.log('test');
    const message = $('#mess-input').html().trim();
    if (message!=='') {
        socket.emit('sendMessage', { 
            channelId: current_channel_id, 
            message: message 
        },(response)=>{
            if(!response.success){
                console.log(`Wystapil blad:`+response.message);
                return;
            }
            $('#mess-input').html('');
        });
    }
};





const update_chat = async(key,value) => {    
const validators = {
  channel_name: (value) => typeof value === 'string',
  channel_desc: (value) => typeof value === 'string',
  channel_style: (value) => Number.isInteger(value),
  ico_file_id: (value) => Number.isInteger(value),
};
const validKeys = Object.keys(validators);
if (!validKeys.includes(key)){
    console.log('Podana opcja jest nie prawidłowa..');
    return false;
}
const validValues = validators[key](value);
if (!validValues) {
    console.log(`Wartość: ${value} dla '${key}' jest niepoprawna.`);
    return false;
}
var headers = {'Content-Type': 'application/json',};
if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;



try{
const reqData = { [key]: value };
const response = await fetch(`/api/update-channel/${current_channel_id}`,{
    method: 'POST',
    headers: headers,
    body: JSON.stringify(reqData)
});
const data = await response.json();
if(!response.ok){
    console.log(`Podczas aktualizowania wystapil błąd: ${data.error}`);
    return false;
}




console.log(data.message);
return true;


}
catch(err){
    console.log(`Błąd podczas wysyłania żądania ${err}`);
}




    return false;
};




const load_chat_style = async (style_id) => {
    const validStyles = [1, 2, 3];
    if (!validStyles.includes(style_id)) style_id = 1;

    if (current_chat_style == style_id) {
        console.log('Ten styl jest juz ustawiony..');
        return false;
    }
    const styleColors = {
        1: '#0183ff',
        2: '#65bf92',
        3: '#ff4545',
    };

    document.documentElement.style.setProperty('--primary-color', styleColors[style_id]);

    $('.chat-style-option').removeClass('option-selected');
    $('.chat-style-option').eq(style_id-1).addClass('option-selected');  
    current_chat_style = style_id; 
    return true;
};




const load_mess = async (mess_id=null) => {
    if(!current_channel_id) return false;
    var headers = {'Content-Type': 'application/json',};
    if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;

    try {
        const response = await fetch(`/api/messages/${current_channel_id}/${mess_id}`, {
            method: 'GET',
            headers: headers
        });

        if (!response.ok) {
            throw new Error("Błąd podczas pobierania historii wiadomości.");
        }
        const data = await response.json();
        if(data.messages.length<1) return false;
        let html_data = `<div class='mess-hr'>
        <div class='h-line'></div>
        <div class='h-info'>Starsze wiadomosci<i class='bx bx-chevrons-up' ></i></div>
        <div class='h-line'></div>
        </div>`;

        data.messages.forEach((mess) => {
            let mess_style='';
            if(current_member_id==mess.member_id) mess_style= ' rtl';

            html_data+= `
                <div data-option="${mess.mess_id}" class='mess-cloud${mess_style}'>
                    <div class="cloud-contents">
                        <div class="prof-avatar-sm">
                            <div class="avatar-contents">
                                <img src="${mess.avatar}" alt="${mess.username}'s avatar">
                            </div>
                            <div class="user-status-ico"></div>
                        </div>
                        <div class="mess-cloud-content">
                            <div class="mess-cloud-details">
                                <div data-option="${mess.member_id}" class="mess-cloud-nick">${mess.nickname}</div>
                                <div class="mess-cloud-time">${mess.created_time}</div>
                            </div>
                            <div class="mess-cloud-text">${mess.message}</div>
                        </div>
                    </div>
                </div>
            `;
        });
        $('.thread-messages-box').prepend(html_data);
        return true;
    } catch (error) {
        console.error("Wystąpił błąd podczas przełączania kanału:", error);
        alert("Nie udało się przełączyć kanału. Spróbuj ponownie.");
    }   
    return false;
}






const switch_chat = async (id) => {
    if(!id) id = localStorage.getItem('last_channel') || 1;

    var headers = {'Content-Type': 'application/json',};
    if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;
    try {
        const response = await fetch(`/api/messages/${id}`, {
            method: 'GET',
            headers: headers
        });

        if (!response.ok) {
            throw new Error("Błąd podczas pobierania historii wiadomości.");
        }
        const data = await response.json();
        if(data.length<1) return false;
        current_member_id = data.channel_info.member_id;
        let channel_info = data.channel_info;


        if(channel_info){
            $('.active-thread-bar-title').text(channel_info.channel_name);
            $('.profile-summary-title').text(channel_info.channel_name);
            if(channel_info.ico_file_id) $('.active-thread-identity .avatar-contents img,.profile-summary-card .avatar-contents img').attr('src',channel_info.ico_file_id);
            else $('.active-thread-identity .avatar-contents img,.profile-summary-card .avatar-contents img').attr('src','/img/defaults/avatar.png');
            $('.summary-details-date,.active-thread-bar-details-date').text(channel_info.channel_desc);
            if(await load_chat_style(channel_info.channel_style)) console.log('Wczytano styl chatu..');

            $('.thread-bar').find('.thread-bar-title').removeClass('active2');
            $(`.thread-bar[data-option=${id}]`).find('.thread-bar-title').addClass('active2');


            if(channel_info.member_role==1){
                $('.profile-section-tile[data-option=chat-manage] .res-option').attr('data-option',channel_info.channel_id);
                $('.profile-section-tile[data-option=chat-manage]').slideDown();
            } 
            else $('.profile-section-tile[data-option=chat-manage]').slideUp();



        }
        else{
            return false;
        }



        let html_data = `<div class='mess-hr'>
        <div class='h-line'></div>
        <div class='h-info'>Starsze wiadomosci<i class='bx bx-chevrons-up' ></i></div>
        <div class='h-line'></div>
        </div>`;

        data.messages.forEach((mess) => {
            let mess_style='';
            if(current_member_id==mess.member_id) mess_style= ' rtl';

            html_data+= `
                <div data-option="${mess.mess_id}" class='mess-cloud${mess_style}'>
                    <div class="cloud-contents">
                        <div class="prof-avatar-sm">
                            <div class="avatar-contents">
                                <img src="${mess.avatar}" alt="${mess.username}'s avatar">
                            </div>
                            <div class="user-status-ico"></div>
                        </div>
                        <div class="mess-cloud-content">
                            <div class="mess-cloud-details">
                                <div data-option="${mess.member_id}" class="mess-cloud-nick">${mess.nickname}</div>
                                <div class="mess-cloud-time">${mess.created_time}</div>
                            </div>
                            <div class="mess-cloud-text">${mess.message}</div>
                        </div>
                    </div>
                </div>
            `;
        });
        $('.thread-messages-box').html(html_data);
        $('.thread-messages-box').scrollTop($('.thread-messages-box')[0].scrollHeight);
        console.log("Historia wiadomości została załadowana..");
        localStorage.setItem('last_channel',id);
        await initSocket(id);
    } catch (error) {
        console.error("Wystąpił błąd podczas przełączania kanału:", error);
        alert("Nie udało się przełączyć kanału. Spróbuj ponownie.");
    }
};



const user_logout = () =>{
try{
localStorage.removeItem('user-basic');
localStorage.removeItem('jwt_token');
localStorage.setItem('status','Wylogowano pomyślnie..');
window.location.href='/login';
}
catch(err){
    console.log("Przy wylogowywaniu wystapil blad: "+err);
}
};  


const load_chats = async (is_public=true) =>{
    console.log('ladowanie chatow');
    var headers = {'Content-Type': 'application/json',};
    if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;
    
    const chat_list = $('.chat-threads-list .threads-list');
    var search_txt = null;

    if(!typeof is_public == 'boolean') return false;
    if(($('#search_txt').val()!=='')) search_txt = $('#search_txt').val();

    
    try{
    const response = await fetch('/api/get-channels',{
        method: 'POST',
        headers: headers,
        body: JSON.stringify({
            is_public: is_public,
            search_txt: search_txt
        })
    });

    const data = await response.json();
    console.log(data);
    if(response.ok){
        var html_data = ``;
        data.list.forEach((item)=>{
        var ico_path = '/img/defaults/avatar.png';
        if(item.channel_ico) ico_path = './uploads/user/'+item.channel_ico;

            html_data+=`
          <div data-option="${item.channel_id}" class="thread-bar">
            <div class="prof-avatar-sm">
                <div class="avatar-contents"><img src="${ico_path}" alt="avatar"></div>
            <div class="user-status-ico"></div>
            </div>
            <div class="thread-bar-info">
                <div class="thread-bar-title">${item.channel_name}</div>
                <div class="thread-bar-details"><div class="bar-details-content">${item.channel_desc}</div><div class="bar-details-date">5min. ago</div></div>
            </div>
            </div>  
            `;
        });
        if(chat_list.html(html_data)){
            var channels_list = $('.thread-bar');
            channels_list.each(function(index,el){
                var chat_index = $(el).attr('data-option');

                $(el).on('click',async function(){
                    if(await switch_chat(chat_index))console.log('Kanal zostal zaladowany..');
                    });

            });

            return true;
        } 

    }

    return false;
    }
    catch(err){
        console.log('Podczas ładowania danych wystąpił problem: '+err);
    }

return false;
};




const load_user_data = async() => {
try {
        var headers = {'Content-Type': 'application/json',};
        if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;

        const response = await fetch('/api/user-basic', {
            method: 'GET',
            headers: headers
        });

        const data = await response.json();
        if (response.ok) {
            localStorage.setItem('user-basic', JSON.stringify(data));
            return true;
        } else {
            console.error(`Błąd serwera: ${data.message}`);
        }
    } catch (err) {
        console.error('Podczas ładowania danych wystąpił problem:', err);
    }

    return false;
};



const set_user = async() => {
let user_basic = localStorage.getItem('user-basic');

if(!user_basic){
try{
    if(await load_user_data()) console.log('Wczytano user-basic..');
}
catch(err){
    console.log(err);
}
}
user_basic = localStorage.getItem('user-basic')
if(user_basic){
    user_basic = JSON.parse(user_basic);
if(user_basic.user_id!==0)$('.list-mode-ovl').addClass('enabled');
$('.sidebar-user-name').text(user_basic.username);
if(user_basic.avatar_file_id){
    $('.avatar-contents img').attr('src',user_basic.avatar_file_id);
}
return true;
}


return false;
};












$(document).ready(async function(){  
$(window).on('resize',screen_update).trigger('resize');  


$('.sidebar-user-logout').on('click',user_logout);
$('.thread-messages-box').on('scroll',async function(e){
    if($(this).scrollTop() === 0){
        let mess_id = parseInt($('.mess-cloud:first').attr('data-option'),10);
        $(this).scrollTop(20);
        if(await load_mess(mess_id)) console.log('Zaladowano starsze wiadomosci..');
        else {
            $('.mess-hr:first .h-info').text('Brak starszych wiadomosci..');
        console.log('Brak starszych wiadomosci..');    
        }
    }
    
    

});


$('#search_txt').on('keyup',async function(){
var is_public = $('.list-mode-ovl').attr('data-option');
if (is_public=='false')is_public = false;
else is_public = true;
if(await load_chats(is_public)){
    console.log('CHATS: zaladowano liste..');
};
});


$('#mess-send-btn').on('click',sendMessage);
$('#mess-input').on('keydown',function(e){
    if(e.which === 13 && !e.shiftKey) sendMessage();

});


$('.list-mode-btn').on('click',async function(){
let is_public = $(this).attr('data-option');
if (is_public=='0')is_public = false;
else is_public = true;

if(await load_chats(is_public)){
    $('.list-mode-ovl').attr('data-option',is_public);
    $('.list-mode-btn').removeClass('active');
    $(this).addClass('active');    
} 
});
$('.popup-options .close-btn1').on('click',function(){
    $('.popup-layer').hide();
});

$('.chat-style-option').on('click',async function(){
    let style_id = $(this).attr('data-option') || 1; 
    if(await load_chat_style(parseInt(style_id,10))){
        console.log('Wczytano styl chatu ..'); 
        await update_chat('channel_style',parseInt(style_id,10))
    }
});




$('.profile-section-tile[data-option=chat-nicks] .res-option').eq(0).on('click',async function(){

var data = 'test';



if(await load_popup('Lista uczestników konwersacji',data))console.log('Dziala..');
});










if(await set_user()){
load_chats();
switch_chat();
}

});





</script>
</body></html>