<html lang="pl-PL"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="shortcut icon" href="/img/favicon_tnf.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="Author" content="Kamil Brzozowski">
    <title>Livechat - App</title><style>
</style>

</head>
<body>
<div class="app-ovl">
<div class="app-sidebar">
<div class="sidebar-top">
    <div class="sidebar-logo"><img src="/img/logo_twf.png" alt="logo"></div>
    <div class="sidebar-menu">
        <div class="sidebar-option active"><div class="sidebar-option-ico"><i class="bx bxs-chat"></i></div><div class="sidebar-option-text">Chaty</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico"><i class="bx bxs-archive"></i></div><div class="sidebar-option-text">Zapisane rozmowy</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico" ><i class="bx bxs-data" ></i></div><div class="sidebar-option-text">Twoje zasoby</div></div>
        <div class="sidebar-option"><div class="sidebar-option-ico" ><i class="bx bxs-key"></i></div><div class="sidebar-option-text">Zarządzaj kluczami</div></div>
    </div>
</div>

<div class="sidebar-bottom">
    <div class="sidebar-menu">
        <div class="sidebar-option"><div class="sidebar-option-ico"><i class="bx bxs-cog"></i></div><div class="sidebar-option-text">Ustawienia</div></div>
    </div>
    <div class="sidebar-user-bar">

<div class="prof-avatar-xsm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
        <div class="sidebar-user-name">Anonimowy</div>
        <div class="sidebar-user-logout"><i class='bx bxs-log-out'></i></div>
    </div>
</div>
</div>
<div class="app-contents">






<div class="chat-threads">

<div class="chat-threads-header">
    <div class="threads-header-text">Chaty</div>
    <div class="threads-header-options">
        <div class="threads-header-option"><i class="bx bxs-plus-square"></i></div>
    </div>
</div>
    

<div class="chat-threads-search">
<div class="search-input"><input id="search_txt" placeholder="Szukaj wiadomości" type="text" name="threads-search"></div><div class="search-ico"><i class='bx bxs-search'></i></div>
</div>

<div class="chat-threads-list">
    <div class="list-mode-ovl">
        <div data-option="0" class="list-mode-btn">Prywatne</div>
        <div data-option="1" class="list-mode-btn active">Publiczne</div>
    </div>
    <div class="threads-list">



<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">Publiczny #2</div>
    <div class="thread-bar-details"><div class="bar-details-content">Ostatnia wiadomosc..</div><div class="bar-details-date">5min. ago</div></div>
</div>
</div>

<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">Publiczny #1</div>
    <div class="thread-bar-details"><div class="bar-details-content">Ostatnia wiadomosc..</div><div class="bar-details-date">5min. ago</div></div>
</div>
</div>

<div class="thread-bar">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="thread-bar-info">
    <div class="thread-bar-title">Publiczny #32</div>
    <div class="thread-bar-details"><div class="bar-details-content">Ostatnia wiadomosc..</div><div class="bar-details-date">5min. ago</div></div>
</div>
</div>

    </div>
</div>
</div>

<div class="chat-active-thread">
    <div class="active-thread-form">
        <div class="active-thread-top">
            <div class="active-thread-identity">
                <div class="prof-avatar-md">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
                <div class="active-thread-bar-info">
                    <div class="active-thread-bar-title" >Publiczny #2</div>
                    <div class="active-thread-bar-details">
                        <div class="active-thread-bar-details-date">Aktywny(a) teraz</div>
                    </div>
                </div>
            </div>
            <div class="active-thread-options">
                <div class="active-thread-option"><i class='bx bxs-search'></i></div>
                <div class="active-thread-option"><i class="bx bxs-user"></i></div>
            </div>
        </div><div class="thread-messages-box">


<div class="mess-cloud">
<div class="cloud-contents">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
    <div class="mess-cloud-content">
        <div class="mess-cloud-details">
            <div class="mess-cloud-nick">Anonimowy4</div>
            <div class="mess-cloud-time">5s. ago</div>
        </div>
        <div class="mess-cloud-text">fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd </div>
    </div>
</div></div>
                
                
<div class="mess-cloud">
<div class="cloud-contents">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
    <div class="mess-cloud-content">
        <div class="mess-cloud-details">
            <div class="mess-cloud-nick">Anonimowy2</div>
            <div class="mess-cloud-time">5s. ago</div>
        </div>
        <div class="mess-cloud-text">fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd </div>
    </div>
</div></div>

<div class="mess-cloud-rtl">
<div class="cloud-contents">
<div class="prof-avatar-sm">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
    <div class="mess-cloud-content">
        <div class="mess-cloud-details">
            <div class="mess-cloud-nick">Anonimowy3</div>
            <div class="mess-cloud-time">5s. ago</div>
        </div>
        <div class="mess-cloud-text">fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd fdfsdf df sd sd fs dfs dfsd </div>
    </div>
</div></div>
                  


 </div>
 <div class="thread-message-form">
                <div class="message-form-options">
                    <div class="message-form-option"><i class="bx bxs-plus-circle"></i></div>
                </div>
                <div class="message-form-input"><input id="mess-input" type="text"  placeholder="Napisz wiadomość .."></div>
                <div class="message-form-submit" id="mess-send-btn"><i class="bx bxs-send"></i></div>
</div>
</div>


<div class="active-thread-profile">
<div class="atp-mobile" style="display:none;">
<div class="close-btn">Zamknij <i class="bx bxs-chevron-left"></i></div>
</div>

        <div class="thread-profile-summary">
            <div class="profile-summary-card">
<div class="prof-avatar-lg">
    <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
<div class="user-status-ico"></div>
</div>
<div class="profile-summary-info" >
                <div class="profile-summary-title">Anonimowy</div>
                <div class="profile-summary-details">
                    <div class="summary-details-date">Aktywny(a) teraz</div>
                </div>
            </div>
            </div>
            <div class="profile-summary-options">
                <div class="profile-summary-option">
                    <div class="summary-option-ico"><i class="bx bxs-user-x"></i></div>
                    <div class="summary-option-text">Usuń</div>
                </div>
                 <div class="profile-summary-option">
                    <div class="summary-option-ico"><i class='bx bxs-cog'></i></div>
                    <div class="summary-option-text">Zarządzaj</div>
                </div>
            </div>
        </div>

        <div class="thread-profile-main">

            <div class="thread-profile-section">
                <div class="profile-section-title">Personalizacja</div>
                <div class="profile-section-content">



<div class="profile-section-tile">
<div class="profile-section-option" >
    <div class="profile-section-header">
        <div class="profile-section-ico" style="color: #65bf92;"><i class="bx bxs-palette"></i></div>
            <div class="profile-option-title">Styl</div>
    </div>
        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
        </div>
        <div class="profile-section-res">
            UKRYTE
        </div>
</div>

<div class="profile-section-tile">
    <div class="profile-section-option">
    <div class="profile-section-header">
        <div class="profile-section-ico" style="color: #ff5a77;"><i class="bx bxs-hot"></i></div>
        <div class="profile-option-title">Reakcja</div>
    </div>
    <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
    </div>
    <div class="profile-section-res">
        UKRYTE
    </div>
</div>

<div class="profile-section-tile">
<div class="profile-section-option">
    <div class="profile-section-header">
        <div class="profile-section-ico" style="color: #477eff;"><i class="bx bx-hash"></i></div>
        <div class="profile-option-title">Nicki</div>
    </div>

    <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
    </div>
    <div class="profile-section-res">
    UKRYTE
    </div>
</div>


</div>
</div>
<div class="thread-profile-section">
<div class="profile-section-title">Wiecej akcji</div>

                <div class="profile-section-content">
                    <div class="profile-section-tile">
                        <div class="profile-section-option">
                            <div class="profile-section-header">
                        <div class="profile-section-ico"><i class="bx bxs-group"></i></div>
                        <div class="profile-option-title">Utworz grupe z uzytkownikiem</div>
                            </div>
                        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
                        </div>
                        <div class="profile-section-res">
                            UKRYTE
                        </div>
                    </div>
                        <div class="profile-section-tile">
                        <div class="profile-section-option">
    <div class="profile-section-header">
                        <div class="profile-section-ico"><i class="bx bxs-memory-card"></i></div>
                        <div class="profile-option-title">Udostepnione zasoby</div>
    </div>

                        <div class="profile-section-btn"><i class="bx bxs-chevron-down"></i></div>
                        </div>
                        <div class="profile-section-res" style="display:flex;">
                            <div class="profile-shared-ovl">
                                <div class="profile-shared-options">
                                    <div class="shared-option">Media</div>
                                    <div class="shared-option">Inne pliki</div>
                                </div>

<div class="profile-shared-res">
    <div class="shared-photo"></div>
    <div class="shared-photo"></div>                                    
</div>
                            </div>
                        </div>
                    </div>
                </div>
</div>


        </div> 
    </div>

</div>


</div>
</div>
<div class="popup-window">

</div>
<div class="loading-ovl"></div>
<script src="/js/ui.js"></script>
<script>
const jwt_token = localStorage.getItem('jwt_token');




const user_logout = () =>{
try{
localStorage.removeItem('user-basic');
localStorage.removeItem('jwt_token');
localStorage.setItem('status','Wylogowano pomyślnie..');
window.location.href='/login';
}
catch(err){
    console.log("Przy wylogowywaniu wystapil blad: "+err);
}
};  









$(document).ready(function(){
$(window).on('resize',screen_update).trigger('resize');  
$('.sidebar-user-logout').on('click',user_logout);

$('.list-mode-btn').on('click',async function(){
var is_public = $(this).attr('data-option');
if (is_public=='0')is_public = false;
else is_public = true;

if(await load_chats(is_public)){
    $('.list-mode-btn').removeClass('active');
    $(this).addClass('active');    
} 
});





const load_chats = async (is_public=true) =>{
    var headers = {'Content-Type': 'application/json',};
    if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;
    
    const chat_list = $('.chat-threads-list .threads-list');
    var search_txt = null;

    if(!typeof is_public == 'boolean') return false;
    if(($('#search_txt').val())&&($('#search_txt').val()!=='')) search_txt = $('#search_txt').val();

    
    try{
    const response = await fetch('/api/get-channels',{
        method: 'POST',
        headers: headers,
        body: JSON.stringify({
            is_public: is_public,
            search_txt: search_txt
        })
    });

    const data = await response.json();
    if(response.ok){
        var html_data = ``;
        data.list.forEach((item)=>{
            html_data+=`
          <div data-option="${item.channel_id}" class="thread-bar">
            <div class="prof-avatar-sm">
                <div class="avatar-contents"><img src="https://swiatkryptowalut.com/forum/avatar/default.png" alt="avatar"></div>
            <div class="user-status-ico"></div>
            </div>
            <div class="thread-bar-info">
                <div class="thread-bar-title">${item.channel_name}</div>
                <div class="thread-bar-details"><div class="bar-details-content">${item.channel_desc}</div><div class="bar-details-date">5min. ago</div></div>
            </div>
            </div>  
            `;
        });

        if(chat_list.html(html_data)) return true;
    }

    return false;
    }
    catch(err){
        console.log('Podczas ładowania danych wystąpił problem: '+err);
    }

return false;
};




const load_user_data = async() => {
try {
        var headers = {'Content-Type': 'application/json',};
        if (jwt_token) headers['Authorization'] = `Bearer ${jwt_token}`;

        const response = await fetch('/api/user-basic', {
            method: 'GET',
            headers: headers
        });

        const data = await response.json();

        if (response.ok) {
            localStorage.setItem('user-basic', JSON.stringify(data));
            set_user();
        } else {
            console.error(`Błąd serwera: ${data.message}`);
        }
    } catch (err) {
        console.error('Podczas ładowania danych wystąpił problem:', err);
    }

    return false;
};



const set_user = async() => {
var user_basic = localStorage.getItem('user-basic');

if(!user_basic){
try{
    if(!await load_user_data()) return false;
}
catch(err){
    console.log(err);
    return false;
}
}
user_basic = JSON.parse(user_basic);
$('.list-mode-ovl').addClass('enabled');
$('.sidebar-user-name').text(user_basic.username);
if(user_basic.avatar_file_id){
    console.log('logo ustawione..');
}
};




set_user();
load_chats();

});





</script>
</body></html>